{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/Admin/style.css')}}">
{% endblock %}

{% block body %}
	<body class='bodyImg'>

	<div class="text-box">
		<div class="row">
			<div class="col">
				<h1>Administration</h1>
				<div class="liens">
					<a class="lien" href="{{ url('admin.themes.index') }}">Gestion des themes</a>
					<br>
					<a class="lien" href="{{ url('admin.options.index') }}">Gestion des options</a>
					<br>
					<a class="lien" href="{{ url('admin.users.index') }}">liste des utilisateurs</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}