{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/Homepage/style.css')}}">
	<link rel="stylesheet" href="{{asset('css/Homepage/tiny-slider.css')}}">
    <link rel="stylesheet" href="{{asset('css/Homepage/footer.css')}}">
{% endblock %}


{% block body %}
	<header class='headerImg'></header>


	<div class="text-box">
		<h1>KidsEvents</h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic possimus nesciunt aliquid assumenda distinctio incidunt?</p>

		<a href="#" class='visiteBtn'>Visite Us To Know</a>
	</div>

	<section class='Information'>
		<h1>Activité proposer</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, maxime?</p>


		{# Info sur la presentation #}
		<div class="row">
			<div class="infoCol">
				<h3>Anniversaire</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id suscipit corrupti soluta nam eligendi at cumque laboriosam omnis ullam a quidem obcaecati atque, aspernatur voluptatibus voluptatum veniam esse, tempore totam.</p>
			</div>
			<div class="infoCol">
				<h3>Fête</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id suscipit corrupti soluta nam eligendi at cumque laboriosam omnis ullam a quidem obcaecati atque, aspernatur voluptatibus voluptatum veniam esse, tempore totam.</p>
			</div>
			<div class="infoCol">
				<h3>Week-end</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id suscipit corrupti soluta nam eligendi at cumque laboriosam omnis ullam a quidem obcaecati atque, aspernatur voluptatibus voluptatum veniam esse, tempore totam.</p>
			</div>
		</div>
	</section>

	{# Liste des Activité possible #}
	<section class="activite">
		<h1>Nos Activités</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis officiis, autem provident consequuntur pariatur maxime aspernatur dolores architecto numquam aperiam fugit minima aliquam odio laboriosam vero nemo totam! Libero, facilis.</p>

		<div class="row my-slider">
 
			{% for theme in contenu %}
                {% include "shared/_themes.html.twig"%}
            {% endfor %}
		</div>
	</section>
{% endblock %}

    {% block footer %}
        {# Add the footer #}
		{% include "shared/_footer.html.twig" %}
    {% endblock %}
    
    




{% block javascripts %}
	<script src="{{ asset('JS/Homepage/tiny-slider.js') }}"></script>
	<script>
        var slider = tns({container: '.my-slider', 
        items: 3, 
        slideBy: 'page', 
        autoplay: true,
        gutter: 25

        });
	</script>
{% endblock %}
